body{
    background-color: #f8f9fa;
    font-family: Calibri;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

li {
    list-style: none;
}

.navi_search {
    display: flex;
    position: relative;
    padding-top: 100px;
    width: 10%;
    height: 4%;
    margin: 0 auto;
    justify-content: center;
}

.container {
    display: flex;
    height: 100%;
}

.search_bar {
    display: flex;
    background-color: gray;
    border-radius: 5px;
    top: 10px;
    padding: 5px 15px;
    justify-content: center;
}

.post_search {
    display: flex;
    margin-left: 5px;
    width: 35px;
    justify-content: center;
}

main {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: center;
}


/* блоки с ии */


.post-item{
    display: block;
    background-color: #fff;
    color: #000;
    overflow: hidden; 
    padding-bottom: 3%;
}

.post-itm {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}

.item-image {
    width: 100px;
    height: 40px;
}

.post-button{
    display: inline-block;
    background-color: #ffffff;
    border: 0;
    color: black;
    margin: 2.3%;
    overflow: hidden;
    padding: 0 0.5%;
    text-decoration: none;
}

.card {
    padding: 5px;
}
