body{
    background-color: #f8f9fa;
    font-family: Calibri;
}

li {
    list-style: none;
}

main {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.container {
    display: flex;
    height: 100%;
}

.search_bar {
    display: flex;
    background-color: gray;
    border-radius: 5px;
    padding: 5px 15px;
    justify-content: center;
}

.post_search {
    display: flex;
    margin-left: 5px;
    width: 35px;
    justify-content: center;
}
/* 
.search {

} */